.App {
  padding-top: 5rem;
  background-image: url("./chucknorris.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.list-group {
  &-item {
    p {
      font-size: 1.4rem;
    }
  }
}
