.App {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("./chucknorris.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.list-group {
  &-item {
    p {
      font-size: 1rem;
    }
  }

  &.favorites {
    .list-group-item {
      background: #7b5d33;
      border-top: solid 0.25rem gold;
      border-left: solid 0.5rem gold;
      border-bottom: solid 0.25rem gold;
      border-right: solid 0.5rem gold;

      &:first-child,
      &:last-child {
        border: solid 0.5rem gold;
      }
      color: white;
    }
  }
}

.form-check-label {
  color: white;
  font-size: 1rem;
}

.mg {
  &-t10 {
    margin-top: 1rem;
  }
  &-t20 {
    margin-top: 2rem;
  }
}

.list-group-item {
  padding: 1rem 0;
}
